//imports
@import '../../bower_components/pocketgrid/pocketgrid';
//vars
//fonts
$primary-font-family: Helvetica, sans-serif; 
$primary-font-weight: 300;
//colors
$white:     #FFFFFF;
$black:     #000000;
$gray-50:   #FAFAFA;
$gray-100:  #F5F5F5;
$gray-200:  #EEEEEE;
$gray-300:  #E0E0E0;
$gray-400:  #BDBDBD;
$gray-500:  #9E9E9E;
$gray-900:  #212121;
$red-50:    #FFEBEE;
$red-100:   #FFCDD2;
$red-200:   #EF9A9A;
$red-300:   #EF7373;
$red-400:   #EF5350;
$red-500:   #F44336;
$red-900:   #B71C1C;
$blue-gray-50:      #ECEFF1;
$blue-gray-100:     #CFD8DC;
$blue-gray-200:     #B0BEC5;
$blue-gray-300:     #90A4AE;
$blue-gray-400:     #78909C;
$blue-gray-500:     #607D8B;
$blue-gray-600:     #546E7A;
$blue-gray-700:     #455A64;
$blue-gray-800:     #37474F;
$blue-gray-900:     #263238;
//mixins
@mixin border-radius($radius) {
    webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin box-shadow($shadow) {
    webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}
@mixin col-size($size) {
    width: $size;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
@mixin offset-left($offset) {
    margin-left: $offset;
}
@mixin offset-right($offset) {
    margin-right: $offset;
}
@mixin horizontally-center() {
    margin-left: auto;
    margin-right: auto;
}
@mixin margin-top-bottom ($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}
@mixin no-margins() {
    margin: 0 auto;
}
@mixin background-font-color($background-color, $font-color) {
    background-color: $background-color;
    color: $font-color;
}
//globals
* {
    box-sizing: border-box;
}
body {
    @include no-margins();
    @include background-font-color($gray-100, $gray-900);
    font-family: $primary-font-family;
    font-weight: $primary-font-weight;
}
a, a:link, a:visited, a:active {
    text-decoration: none;
    color: $red-400;
}
a:hover, a:focus {
    color: $red-900;
}
ul {
    @include no-margins();
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
h1 {
    font-size: 200%;
    font-weight: 600;
}
h2 {
    font-size: 175%;
    font-weight: 500;
}
h3 {
    font-size: 150%;
    font-weight: 400;
}
h4 {
    font-size: 125%;
    font-weight: 300;
}
p {
    font-size: 100%;
    font-weight: 200;
}
//header
header {
    @include col-size(100%);
    color: black;
    padding: 2.5% 5%;
    border-bottom: 1px solid $blue-gray-900;
    h1 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    #header-background-video {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
    }
    #header-background-video video {
        width: 100%;
        height: auto;
    }
    #profilePicture {
        @include col-size(20%);
        @include border-radius(50%);
        @include box-shadow(2px 2px 5px $blue-gray-900);
        @include horizontally-center();
        //max-width: 200px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    #icons {
        @include col-size(33%);
        @include horizontally-center();
        @extend .block-group;
        .icon {
            @include col-size(14.6%);
            @include offset-left(1%);
            @include offset-right(1%);
            @include border-radius(50%);
            @include box-shadow(2px 2px 5px $blue-gray-900);
            display: inline-block;
            @media screen and (max-width: 768px) {
                width: 31%;
            }
        }
    }
}
//footer
footer {
    @include col-size(100%);
    @include background-font-color($blue-gray-500, $gray-50);
    border-top: 1px solid $blue-gray-900;
    padding: 2%;
    text-align: center;
}
//main
#main {
    @include col-size(100%);
    @extend .block-group;
    @include background-font-color($gray-100, $gray-900);
}
//cover letter
#coverletter {
    @include col-size(100%);
    padding: 0.5% 10%;
    @media screen and (max-width: 768px) {
        padding: 0.5% 2%;
    }
    .letter-outer {
        @include box-shadow(0 2px 3px $gray-400);
        background-color: $gray-200;
        padding: 5%;
    }
    .letter-inner {
        @include box-shadow(0 2px 3px $gray-400);
        @include border-radius(0.5%);
        background-color: $gray-50;
        text-align: justify;
        padding: 5%;
    }
}
//resume
#resume {
    @include col-size(100%);
    padding: 0.5% 10%;
    @media screen and (max-width: 768px) {
        padding: 0.5% 2%;
    }
    .section {
        @include col-size(100%);
        @include box-shadow(0 2px 3px $gray-400);
        @include margin-top-bottom(1%);
        padding: 5%;
        background-color: $gray-200;
        .heading {
            @include col-size(100%);
            @include box-shadow(0 2px 3px $gray-400);
            @include background-font-color($gray-50, $red-400);
            text-align: center;
            padding: 2%;
        }
    }
    .organization {
        @include col-size(100%);
        @include box-shadow(0 0 5px $gray-400);
        border: 1px solid $gray-400;
        padding: 5%;
        background-color: $gray-50;
        .name {
            @include col-size(100%);
            @include no-margins();
            border-bottom: 1px solid $gray-900;
            padding: 2%;
        }
    }
    .position {
        @include col-size(100%);
        @include border-radius(0.5%);
        padding: 2%;
        .title {
            @include col-size(60%);
            @include no-margins();
            display: inline-block;
            text-align: left;
        }
        .date {
            @include col-size(40%);
            @include no-margins();
            display: inline-block;
            text-align: right;
            @media screen and (max-width: 768px) {
                text-align: left;
            }
        }
        .description {
            @include col-size(100%);
        }
    }
}

//nav
nav {
    @include col-size(100%);
    @include box-shadow(0 5px 5px $gray-400);
    background-color: $gray-200;
    padding: 1%;
    ul {
        @extend .block-group;
    }
    li {
        @include col-size(50%);
        @include box-shadow(0 2px 3px $gray-400);
        display: inline-block;
        background-color: $gray-100;
        padding: 1%;
        text-align: center;
        a:hover {
            background-color: $gray-200;
            text-decoration: none;
        }
    }
}
//project
#projects {
    @include col-size(100%);
    padding: 3% 10%;
     @media screen and (max-width: 768px) {
        padding: 1% 2%;
    }
    .project-outer {
        @include col-size(100%);
        @include box-shadow(0 2px 3px $gray-400);
        @include margin-top-bottom(1%);
        background-color: $gray-200;
        padding: 5%;
    }
    .project-inner {
        @include col-size(100%);
        @include border-radius(0.5%);
        @include box-shadow(0 2px 3px $gray-400);
        background-color: $gray-100;
        padding: 5%;
    }
}
